<ol class="breadcrumb">
  <li><a ui-sref="postsIndex">Posts</a></li>
  <li>{{ showCtrl.post.id }}</li>
</ol>

<h3>{{ showCtrl.post.title }}</h3>

<p>
  {{ showCtrl.post.body }}
</p>

<h4>Comments</h4>
<div class="media" ng-repeat="comment in showCtrl.comments">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://placehold.it/64x64">
    </a>
  </div>
  <div class="media-body">
    <div>{{ comment.name}}</div>
    <small>
      <em>{{ comment.email }}</em>
    </small>
  </div>
</div>